doctype html

extends template.jade

block body
	//- Variables --------------------------------------
	- var theCustomer = "Retail Insights"
	- var project     = "WebFetch"
	- var theProduct  = "the scraping engine"
	- var version     = "1.0"
	- var date        = "29 Jan 2015"
	- var us          = "KloudNation"
	- var constraints = ["Budget", "Schedule", "Scope"]
	- var price       = 0
	- var hourly      = false
	- var travel      = false // Long-distance travel such as airlines or > 50 miles of driving
	
	//- Styles -----------------------------------------
	style(type='text/css').
		.approval-section       { margin: 2in 0 0; }
		.approval-section table { width: 100%; }
		.approval-section th    { text-align: center; }
		.approval-section td {
			border  : 1px solid black;
			height  : 0.5in;
			width   : 2in;
			padding : 0.125in;
		}
		
		q::before, q::after { content: ""; }
		q {
			border           : 1px solid rgba(0,0,0,0.2);
			background-color : rgba(0,0,0,0.1);
			border-radius    : 3px;
			padding          : 0 2px;
		}
		
		hr::before { 
			content          : "page break";
			color            : rgba(0,0,0,0.25);
			background-color : white;
			padding          : 0 2px;
			margin-left      : 0.5in;
			/* Makes this thing overlap parent container */
			float            : left;
			margin-top       : -12px;
		}
		
		@media print {
			hr { 
				border: 0 none; 
				page-break-after: always; 
			}
			
			hr::before { display: none; }
		}
		@media print {
			* {
				-webkit-print-color-adjust: exact; 
			}
		}
		
	//- Mixins -----------------------------------------
	mixin section(title)
		h2 #{title}
		p 
			block
	
	mixin subsection(title)
		h3 #{title}
		p
			block
	
	mixin person(name)
		span.label.label-primary.label-person
			.glyphicon.glyphicon-user
			|  #{name}
			block
		|   
	
	//- Document ---------------------------------------
	title #{project} - Project Definition

	.alert.alert-danger.text-center
		.glyphicon.glyphicon-warning-sign
		| &nbsp; This is an internal document. Do not distribute outside of #{us}
		
	//- Title
	section.text-center
		h1 #{theCustomer}
			small  
			small #{project}
		h1 Project Definition
		h4 Version #{version}
		h4: small #{date}

	//- Approval
	.row.approval-section
		h2 Approval
		table
			tr.header
				th #{theCustomer}
				th #{us}
			tr
				td Approver:
				td Approver:
			tr
				td Title: 
				td Title: 
			tr
				td Date: 
				td Date: 
			tr
				td Signature: 
				td Signature: 

	hr

	.alert.alert-danger.text-center
		.glyphicon.glyphicon-warning-sign
		| &nbsp; This is an internal document. Do not distribute outside of #{us}
	
	//  [            ]
	// -[ Background ]-------------------------------------------------------------------------------------
	//  [            ]
	+section("Background")
		p.
			#{us} entered into a contract to provide a web scraping engine and a website to display the results of these
			scrapes to #{theCustomer}, and the customers of #{theCustomer}. This plan is focused on the completion of
			this (already underway) project.
	
	//  [            ]
	// -[ Objectives ]-------------------------------------------------------------------------------------
	//  [            ]
	+section("Objectives")
		+subsection("Project Objectives")
			ul
				li Provide a website for #{theCustomer} to manage #{theProduct}
				li Provide a website for the customers of #{theCustomer} to view scraped data
				li Provide a scraping engine to gather the data from other sites (such as AutoZone)
				
		+subsection("Constraint Prioritization")
			dl.dl-horizontal
				//- 
					This section is generated. It's probably best to edit the order of the constraints in the 
					variables section at the top
				dt #{constraints[0]}
				dd.
					#{constraints[0]} is of the utmost importance. Project must meet customer expectations in regards 
					to #{constraints[0].toLowerCase()}.
				dt #{constraints[1]}
				dd.
					#{constraints[1]} is somewhat flexible. #{constraints[1]} may be adjusted if necessary in order to
					meet the #{constraints[0].toLowerCase()} constraint, but should be as close to the original plan 
					as possible.
				dt #{constraints[2]}
				dd.
					#{constraints[2]} is the most flexible. Adjusting #{constraints[2].toLowerCase()} will be the 
					primary method to adapting to project changes in order to meet 
					#{constraints[0].toLowerCase()} and #{constraints[1].toLowerCase()} constraints

	//  [       ]
	// -[ Scope ]------------------------------------------------------------------------------------------
	//  [       ]
	+section("Scope")
		+subsection("In Scope")
			ul
				li Build an engine to run the scrapers
				li Provide hosting for #{theProduct}
				li Write the scrapers for 29 websites defined in an addendum to this document
				li Build a website for #{theCustomer} to manage #{theProduct}
				li Build a website for the customers of #{theCustomer} to login and view data from scrapes

	//  [              ]
	// -[ Deliverables ]-----------------------------------------------------------------------------------
	//  [              ]
	+section("Deliverables")
		ul
			li
				+person(theCustomer)
				| A list of sites that need scraped
			li 
				+person(theCustomer)
				| A list of the fields, or components of information needed from the sites
			li 
				+person(us)
				| All items <q>In Scope</q>

	//  [          ]
	// -[ Schedule ]---------------------------------------------------------------------------------------
	//  [          ]
	+section("Schedule")
		ul
			li This project has already begun. #{us} expects to deliver the first set of crawlers by
				+time Monday, 2 Mar 2015
			li #{us} will provide #{theCustomer} with a preview of the work in progress every two weeks, with the first preview presented on
				+time Thursday, 12 Feb 2015
		
	//  [       ]
	// -[ Risks ]------------------------------------------------------------------------------------------
	//  [       ]
	+section("Risks")
		dl.dl-horizontal
			//- Risk
			dt 
				.label.label-warning
					.glyphicon.glyphicon-warning-sign
					| &nbsp; Risk:
			dd The customer has yet to be presented with a cohesive review of the planned architecture of the system. This implies that the customer could potentially reject the end-product that we deliver.
			//- Remediation
			dt
				.label.label-success
					.glyphicon.glyphicon-ok
					| &nbsp; Remediation:
			dd 
				ul
					li Present the product to the customer as mentioned in <q>Schedule</q>  and obtain written acceptance of the current state (formally or informally) in order to mitigate potential changes later on.
			//- Risk
			dt 
				.label.label-warning
					.glyphicon.glyphicon-warning-sign
					| &nbsp; Risk:
			dd At the time of writing this document, the project is <b>behind schedule</b>
			//- Remediation
			dt
				.label.label-success
					.glyphicon.glyphicon-ok
					| &nbsp; Remediation:
			dd 
				ul
					li Have 
						+person("Samuel Dilow")
						| burn the midnight oil
					b and
					li Hire someone to assist with the development of the web pages
			//- Risk
			dt 
				.label.label-warning
					.glyphicon.glyphicon-warning-sign
					| &nbsp; Risk:
			dd
				+person Samuel Dillow
				| has limited experience with the <q>Heroku</q> hosting platform. This leads to the inability to provide highly accurate estimates.
			//- Remediation
			dt
					.label.label-success
						.glyphicon.glyphicon-ok
						| &nbsp; Remediation:
			dd
				ul
					li Tackle the task of <q>Hosting</q> first, reducing the impact of the platform on future work
					b or
					li Have an internal team assist with the deployment to Heroku
					b or
					li Host the site on <q>Amazon Web Services</q> until the initial deployment
			//- Risk
			dt 
				.label.label-warning
					.glyphicon.glyphicon-warning-sign
					| &nbsp; Risk:
			dd Some of the sites are highly resistant to scraping
			//- Remediation
			dt
					.label.label-success
						.glyphicon.glyphicon-ok
						| &nbsp; Remediation:
			dd
				ul
					li Make each scraper a <q>plugin</q> that can be installed and removed as needed
					b and
					li Change the billing model <i>(at least for maintenance)</i> to a per-module system with a base fee. Each modul will have its own price, and #{theCustomer} may remove any module from the system and not be billed for it in the next billing cycle.
				
	//  [             ]
	// -[ Assumptions ]------------------------------------------------------------------------------------
	//  [             ]
	+section("Assumptions")
		ul
			li #{theCustomer} is familiar with the concepts of <q>Web Scraping</q>
			li #{theCustomer} has a service that they are able to utilize in lieu of #{theProduct} during the development cycle.

	//  [          ]
	// -[ Approach ]------------------------------------------------------------------------------------
	//  [          ]
	+section("Approach")
		+subsection("Process to Monitor Progress")
			ul: li #{theCustomer} will use bi-weekly reviews as laid out in <q>Schedule</q> to monitor and track progress.
		+subsection("Staggered Development")
			ul
				li The site will be delivered in a fully-functional state before any scraper plugins are written.
				li After the site is up and running, plugins will be written one at a time until all the plugins are functioning.
		+subsection("Change Control Procedure")
			ul: li If changes to the project are deemed necessary, #{us} will review them with #{theCustomer} and determine whether or not the changes may be completed without additional impact to the project constraints. If an impact is found, the Project Definition may be updated and re-approved. A written consent of the changes (email or otherwise) may be accepted in lieu of an updated Project Definition.
		+subsection("Acceptance of Deliverables")
			ul: li #{theCustomer} will utilize the site for <b>1 business day</b> after each presentation and be given time to reject the progress. If no comments are made by the <b>second business day</b>, then the progress will be considered to be accepted, and development will continue.

	//  [            ]
	// -[ Completion ]------------------------------------------------------------------------------------
	//  [            ]
	+section("Project Completion Criteria")
		p 
			| The project will be considered complete when project deliverables listed in the <q>Deliverables</q> section have been completed.

	//  [             ]
	// -[ Maintenance ]------------------------------------------------------------------------------------
	//  [             ]
	+section("Maintenance Agreement")
		p #{us} will maintain the project post-completion for a fee of <b>$40,000.00 USD</b> yearly. If this is changed to a per-plugin basis, then the site will be maintained for a base price of <b>$1,000.00 USD</b>, and an additional per-plugin price.

	.alert.alert-danger.text-center
		.glyphicon.glyphicon-warning-sign
		| &nbsp; This is an internal document. Do not distribute outside of #{us}
