doctype xml
- function date(input) { return new Date(input + " 2014 GMT"); }
mixin entry(text, start, end, color)
	if end
		- end = new Date(date(end).getTime() - 1000*60*60*1)
		event(start=date(start) end=end title=text color=color isDuration="true")= text
	else
		- end = new Date(date(start).getTime() + 1000*60*60*8)
		event(start=date(start) end=end title=text color=color isDuration="true")= text

data
	block events
		| No data found
