- var cdn       = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0"
- var jquery_js = "https://code.jquery.com/jquery-1.11.1.min.js"
- var topic     = "Humanities"
- var section   = "Chapter 4"

mixin section(title,page,year)
	div
		h4.text-capitalize!=title 
			if page
				.badge #{page}
			if year
				span &nbsp;
				span.label.label-primary #{year}
		block

mixin person(name)
	.label.label-default
		.glyphicon.glyphicon-user
		|  #{name}
	if block
		span &nbsp;
		block

mixin time(date)
	- var ce = date >= 0 ? "" : "BCE"; 
	.label.label-primary
		.glyphicon.glyphicon-time
		|  #{Math.abs(date)} #{ce}
	if block
		block

mixin place(text)
	.label.label-success
		.glyphicon.glyphicon-map-marker
		|  #{text}
	if block
		block

doctype html
html(lang=en)
	head
		title #{topic} - #{section}
		meta(charset="UTF-8")
		link(rel="stylesheet" href="#{cdn}/css/bootstrap.min.css")
		link(rel="stylesheet" href="#{cdn}/css/bootstrap-theme.min.css")
	body
		main.container
			h1 #{topic}
				span &nbsp;
				small #{section}
					.badge 117
			.newsletter
				+section("Dome of the Rock", 117): :markdown
					* Temple of Solomon
					* Second Temple of Jerusalem
					* Wailing Wall
					* Tisha B'Av : 9'th of Av. fast. lamentations
					* ambulatory
				
				+section("Jews")
					dl.dl-horizontal
						dt messianic <dd> believed in a Messiah
						dt Messiah <dd> Annointed One. rescue Jewish
						dt apocalypse <dd> coming of God. judgement
						dt: +person("Josephus") <dd> Jewish historian. <i>Jewish War</i>
						dt: +person("Herod") <dd> Roman king. rebuilt Jerusalem
						dt sectarianism <dd> small organized group. it alone understands God's will
						dt sects
							dd
								ol
									li Pharisees: scribal group. masses
									li Sadducees: priests. aristocracy
									li Essenes: severe discipline. Qumran
						dt: +person("Herod") <dd> Roman king. rebuilt Jerusalem
						dt: +person("Flavius Silva") <dd> Roman general. sacked Jerusalem
						dt: +person("Hadrian") <dd> Roman Emperor. rebuild Jerusalem. banned Jews
							+time(135)
						dt: +person("Jesus") <dd> Nazareth. apocalypse. Shepherd & sheep
							+time(-4)
						dt: +person("Judas") <dd> betrayed Jesus
						dt: +person("Diocletian") <dd> Roman emperor. tetrarchy. deified
							.badge 123
						dt tetrarchy <dd> four part monarchy

				+section("Jewish evangelists")
					dl.dl-horizontal
						dt evangelist <dd> bearer of good
						dt: +person("Paul") <dd> persecuted Jews. reformed in Damascus. "Christ"
						dt: +person("Mat, Mar, Luk") <dd> 
							+time(70)
						dt typology <dd> tupos. prefiguring
				
				+section("Constantine")
					dl.dl-horizontal
						dt: +person("Constantine") <dd> freedom of religion. Constantinople
							.badge 117
						dt: +place("Constantinople") <dd> on Byzantium. modern Istanbul
							+time(324)
						dt Nicene Creed <dd> ecumenical council. dogma
							+time(325)
						dt Roman Catholic Church <dd> modeled after empire
						dt litergy <dd> rites perscribed for public worship
						dt: +person("St. Jerome") <dd> translated Bible into Latin
						dt overrun 
							+time(1453)
							dd by Ottoman Turks
						dt Basil the Great <dd> pagan art = art
				
				+section("Justinian Empire")
					dl.dl-horizontal
						dt: +person("Justinian") <dd>
							+time(527)
						dt Hagia Sophia <dd> Christian basilica
						dt pendentive <dd> trangle to hold dome weight 
						
				+section("Muhammed")
					dl.dl-horizontal
						dt renamed <dd> Seal of the Prophets
						dt: +person("Muhammed") <dd> Ishmael. orphan
							+time(570)
						dt Qur'an <dd> recitations. 114 Surrahs from 
							+person("Gabriel")
						dt surrah <dd> chapter
						dt Islam <dd> means submission
						dt mosque at
							+place("Medina")
							dd first Muslim mosque. masjid. by Muhammed
				+section("Islam")
					dl.dl-horizontal
						dt: +place("Mecca") <dd> holiest city. Red Sea
						dt five pillars 
							dd: ol
								li 
									span Shahadah: 
									span repitition of creed
								li 
									span Prayer: 
									span face Mecca. 5 times daily
								li 
									span Alms: 
									span charity
								li 
									span Fasting: 
									span Ramadan
								li 
									span Hajj: 
									span pilgrimmage (hijra) to Mecca
						dt hadith <dd> narrative. sayings of Muhammad
						dt hijra <dd> pilgrimmage to Mecca
						dt Kaaba <dd> cube
						dt madrasa <dd> teaching center attached to mosque
						
		// At end to increase loading speed
		script(type="text/javascript" src=jquery_js)
		script(src="#{cdn}/js/bootstrap.min.js")
