mixin clause(clause)
	.label.label-info
		.glyphicon.glyphicon-bookmark
		span   
		| #{clause}
		block

mixin dirlist(path)
	- var fs = require("fs")
	- var list = fs.readdirSync(path)
	- var shorts = {"govt":"Government", "hist":"History", "huma":"Humanities", "misc":"Other", "musi":"Music Appreciation"}
	each file1 in list
		- var p2 = path + "/" + file1
		if fs.lstatSync(p2).isDirectory()
			li.active: a(href=file1)= shorts[file1]||file1
			each file2 in fs.readdirSync(p2).filter(function(p) { return p[0] != "_" && /.*(\.html|\.pptx)$/.test(p) })
				li.glyphicon: a(href=file1+"/"+file2)= file2.match(/.+(?=\.html|\.pptx)/)

mixin page(number)
	- if(number<0) number = "N/A";
	.badge #{number}
		block

mixin person(name)
	.label.label-default
		.glyphicon.glyphicon-user
		|  #{name}
	if block
		span &nbsp;
		block

mixin place(text)
	.label.label-success
		.glyphicon.glyphicon-map-marker
		|  #{text}
		block

mixin print(o)
	div: b=o
	- for(k in o)
		.row
			span.bg-primary=k
			span   
			span.bg-info=o[k]

mixin section(title,page,year)
	div
		h4.text-capitalize!=title 
			if page
				+page(page)
			if year
				span &nbsp;
				span.label.label-primary #{year}
		block

mixin time(date)
	- var ce = date >= 0 ? "" : "BCE"; 
	.label.label-primary
		.glyphicon.glyphicon-time
		|  #{date}
		block

mixin url(address, text)
	- var blockText = (function() { block(); return buf.pop(); })()
	- address = address || blockText;
	- text = text || blockText
	a(href=address)
		block
